:root {
     --secondary-color:  #B4CDE4; 
     --primary-color :  #264969;
     --Accent-1 : #CFCFB4;
     --Accent-2 : #2a5836;
     --Accent-3 : #e8edeb;
     --heading-font: "Noto Sans Georgian", sans-serif;
     --body-font: "Lato", sans-serif;

     
    
    
    
     
}

* {
    margin: 20px;
    padding: 0;
    ;
    box-sizing: border-box;
}


.nav a {
    flex: 1 1 auto;
}

.nav { 
    display: flex; 
    justify-content: space-evenly;
    width: 100%;
}

nav {
    max-width: 100%;
    grid-column: 1;
    grid-row: 2;
    background-color: var(--nav-background-color);
	padding: 20px;
    display: flex;
    justify-content: space-evenly;
 }


nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    align-items: center;
    
   
    font-size: 50px;
   
     
    
}
nav a{
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
     text-decoration: none;
     justify-content: space-evenly;
     flex: 1 1 auto ;
     font-family: var(--body-font);
     
}


nav a:hover {
	font-weight: 500;
	text-decoration: underline;
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    transform: scale(1.1);
}


.logo {
    border-radius: 70%;

}



h1 , h1 , h3 .h4 h5 , h6 {
    font-family: "Noto Sans Georgian", sans-serif;
}


.contenedor {
    display: grid;
    grid-template-rows: auto 1fr auto;
    resize: both;
    overflow: auto;
    width: auto;
    height: auto;
    font-size: 5rem;
    
}

header {
    background-color: var(--primary-color);
  
    margin: 0;
    justify-content: space-around;

   
   
   

    
}

main {
    background-color: var(--Accent-3);
   
    height: auto;
    position: relative;
    gap: 0;
    margin: 0;
  
   
 
   
 
   
 
}


footer {
    background-color: var(--Accent-2);
  
    height: 20vh;
    
}


.hero {
  background-image: url('../images/banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
   align-items: center;
   padding-top:  200px;
}



.hero h1 {
  font-size: 10rem;
 
  gap: 20em;
  color: var(--Accent-1);

  background-color: rgba(37, 70, 129, 0.438);
   text-align: center;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-weight: 200;

  
 



} 

article {
     background-color: rgba(23, 73, 124, 0.397); /* Fondo azul semi-transparente */
  padding: 2rem;
  border-radius: 10px;
  display: flex; /* Flexbox para organizar contenido */
  align-items: center;
  gap: 2rem;
  
  align-items: center;
  align-items: flex-end;
  justify-content: center;



}

.article img {
     flex: 1; /* Toma 1 parte del espacio disponible */
  min-width: 200px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  

}




article p {
    flex: 2; /* Toma 2 partes del espacio disponible */
  min-width: 300px;
  font-size: 80px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--Accent-1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3); /* Negro semi-transparente */
  z-index: 1;
}


.book{
  
    font-size: 30px;
    text-align: center;
  
}



.adventure h2 {
    text-align: center;
    font-family: var(--heading-font);
    top: 20%;
    left: 600px;
    margin-right: 50%;
    

}

.adventure {
    
    text-align: center;
   
}



    .home-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        font-family: var(--heading-font);
        font-size: 40px;
        margin-top: 560px;
        justify-content: space-around;
        margin-left: 10%;
        margin-right: 10%;
    }



    .rivers-card{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img{
    
    border: 10px solid #00241B;
    width: 500px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #3D0024;
}
main section img {
    box-sizing: border-box;
}
.mountains{
    width: 500px ;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #3D0024;
}

#background{
    height: 725px;
    background-color: #DCF8E1;
    grid-column: 12/12;
    grid-row: 3/9;
    text-align: center;

}

main section{
    text-align: center;
}






footer{
    background-color: var(--primary-color);
    padding: 90px;
    margin-top: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
   
    font-family: var(--heading-font);



}
footer a{
  
    text-decoration: none;
    color: var(--Accent-1);
}
footer a:hover{
  
    color: var(--Accent-1);
}
footer p{
    font-size: 70px;
    color: var(--Accent-3);
}
footer p a:hover{
    text-decoration: underline;
    color: var(--Accent-1);
  
}



article h2 {
    color: var(--Accent-1);
    float: left; 
    top: 20px;
}






.footer1{
    background-color: #2b4f79;
   
    margin-top: 6000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



}
footer a{
    color: var(--Accent-3);
    text-decoration: none;
}
footer a:hover{
    color: #ffffff;
}
footer p{
    font-size: 70px;
}
footer p a:hover{
    text-decoration: underline;
}


.home {

    align-items: center;
    color: var(--Accent-2);
    justify-content: center;
  
    display: grid;
    grid-column: 8/5;
    font-size: 5vh;
    margin-right: 50px;
    
   
   
}


.history h2  {
  
    text-align: center;
    font-family: var(--body-font);
    font-size: 80px;
    font-family: var(--heading-font);

}

.history p {
    font-size: 60px;
    font-family: var(--body-font);
   
    
    width: 800px;
    text-align: left;
    top: 20px;
    justify-content: space-around;
    margin-top: 20%;
}






.history {
   
    grid-column: 2/10;
}

.contenedor {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
    gap: 1em;
    margin-right: 23%;
    background-color: var(--Accent-2);
    margin-left: 20%;
    border-radius: 1%;
   
   
 
  

    
}


.right {
    font-size: 10px;
  
    
    font-family: var(--body-font);
    color: var(--Accent-1);
}



.left {
      color: var(--Accent-1);
      font-family: var(--body-font);
     
}


.img h2 {
    color: var(--Accent-1);
}


main section 
img {
    border-radius: 10%;
}