:root {
  --secondary-color: #B4CDE4;
  --primary-color: #264969;
  --accent-1: #CFCFB4;
  --accent-2: #2a5836;
  --accent-3: #e8edeb;
  --heading-font: "Noto Sans Georgian", sans-serif;
  --body-font: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  
}



nav {
  max-width: 100%;
  grid-column: 1;
  grid-row: 2;
  background-color: var(--primary-color);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 50px;

}

nav a {
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  text-decoration: none;
  flex: 1 0 auto;
  font-family: var(--body-font);
}

nav a:hover {
  font-weight: 500;
  text-decoration: underline;
  background-color: transparent;
  color: white;
  transform: scale(1.1);
}

.logo {
  border-radius: 70%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

.contenedor {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  overflow: hidden;
  text-align: center;
  gap: 1em;
  margin-right: 20%;
  background-color: var(--accent-2);
  margin-left: 14%;
  border-radius: 1%;
  padding: 70px;
  gap: 9em;
}

header {
  background-color: var(--primary-color);
  margin: 0;
  justify-content: space-around;
  display: grid;
  grid-template-columns:  1fr auto auto ; /* puedes ajustar los valores */
  align-items: center;
 
  padding: 20px;

}

main {
  background-color: var(--accent-3);
  height: auto;
  position: relative;
  margin: 0;
}

footer {
  background-color: var(--primary-color);
  padding: 90px;
  margin-top: 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--heading-font);
}

footer a {
  text-decoration: none;
  color: var(--accent-1);
}

footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

footer p {
  font-size: 70px;
  color: var(--accent-3);
}

.hero {
  background-image: url('../images/banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  align-items: center;
  padding-top: 200px;
}

.hero h1 {
  font-size: 10rem;
  color: var(--accent-1);
  background-color: rgba(37, 70, 129, 0.438);
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 200;
}

article {
  background-color: rgba(23, 73, 124, 0.397);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 2rem;
}

.article img {
  flex: 1;
  min-width: 200px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8em;
  margin: 60px;
}

article p {
  flex: 2;
  min-width: 300px;
  font-size: 80px;
  font-family: var(--body-font);
  color: var(--accent-1);
  margin: 70px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 1;
}

.book {
  font-size: 30px;
  text-align: center;
}

.adventure, .adventure h2 {
  text-align: center;
  font-family: var(--heading-font);
  margin: 0 auto;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  font-family: var(--heading-font);
  font-size: 40px;
  margin: auto;
  justify-content: space-around;
  text-align: center;
  margin-top: 10%;
}

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}

.rivers-card {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.camping-card {
  grid-column: 5 / 7;
  grid-row: 2 / 3;
}

.rapids-card {
  grid-column: 8 / 10;
  grid-row: 2 / 3;
}

.card-img {
  border: 10px solid #00241B;
  width: 500px;
  height: 390px;
  transition: transform 0.5s;
  box-shadow: 5px 5px 10px #3D0024;
  text-align: center;
  margin-left: 10%;
}

main  img {
  box-sizing: border-box;
  border-radius: 10%;
  height: 600px;
  width: 720px;

}

.mountains {
  width: 500px;
  grid-column: 2 / 7;
  grid-row: 5 / 8;
  box-shadow: 5px 5px 10px #3D0024;
}

#background {
  height: 725px;
  background-color: #DCF8E1;
  grid-column: 12 / 12;
  grid-row: 3 / 9;
  text-align: center;
}

main section {
  text-align: center;
}

.footer1 {
  background-color: #2b4f79;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.home {
  display: grid;
  align-items: center;
  justify-content: center;
  color: var(--accent-2);
  font-size: 5vh;
  margin-right: 50px;
}

.history {
  grid-column: 2 / 10;
}

.history h2 {
  text-align: center;
  font-family: var(--heading-font);
  font-size: 80px;
}

.history p {
  font-size: 60px;
  font-family: var(--body-font);
  width: 800px;
  text-align: left;
  margin-top: 20%;
}

.right, .left {
  font-size: 10px;
  font-family: var(--body-font);
  color: var(--accent-1);
}

.img h2 {
  color: var(--accent-1);
}

article h2 {
  color: var(--accent-1);
  float: left;
  top: 20px;
}

.home-grid 
.title {
    text-align: center;
    
    font-family: var(--body-font);
    font-size: 55px;
     box-sizing: border-box;
     justify-content: center;
     margin-top: 5%;
     margin-left: 9%;

 
}

.nav a {
    background-color: transparent;
    color: inherit;

}



.first {
  
  grid-column: 4 / 8 ;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 200;
  font-size: 90px;
  margin-left: 10%;

}